<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>NachoPowerRankings.com</title>
	<link href="/styles/style.css" rel="stylesheet"></link>
	<link href="/styles/layout.css" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Raleway" rel="stylesheet"/>
</head>
<body>
	<div class="container">
		<header>
			<div class="header-title-container">
				<h1 class="header-title">NachoPowerRankings</h1>
			</div>
			<nav class="header-nav">
				<ul class="nav-list">
					<li class="nav-list-item"><a class="nav-link" href="/categories">HOME</a></li>
					<li class="nav-list-item">RATING SCALE</li>
					<li class="nav-list-item">CONTRIBUTORS</li>
					<li class="nav-list-item">CONTACTS</li>
				</ul>
			</nav>
		</header>
		<article class="main-content">
			<h2 class="category-title" th:text="${selectedContentTag.name}">Nacho Review Category</h2>
			<div class="reviews-list" th:each="review: ${selectedContentTag.reviews}">
				<section class="reviews">
					<h3 class="reviews-list">
						<a th:href="@{/review(id=${review.id})}" th:text="${review.title}"></a>
					</h3>
				</section>
			</div>
			<p class="categories-link"><a href="/categories">Back to the Categories</a></p>
		</article>
		<footer class="footer-box">
			<section class="footer-message">
				<p>Thanks for stopping by NachoPowerRankings.com</p>
			</section>
			<section class="footer-copyright">
				<p>©2018</p>
			</section>
		</footer>
	</div>

</body>
</html>